<section id="error" class="container">
  <h1>Something went wrong!</h1>
  <h3>Please try again to upload the file</h3>
  <a href="/"><i class="fas fa-code"></i>
    Return to Home Page
  </a>
</section>