<section id="search" class="search-wrap">
  <h1>Upload your file</h1>
  <form ref='uploadForm' id='uploadForm' class="search-form" action='epg/upload' method='post'
    encType="multipart/form-data">
    <i class="fas fa-search"></i>
    <input type="file" name="epgFile" placeholder="Upload an EPG file in XML format..." />
    <input type='submit' value='Upload!' />
  </form>
</section>